.video-cell{
    
    max-width: 140px;
    margin-bottom: 1rem;
    
    @media (--tablet-more)
    {
        margin-left: 2.8rem;
    }
    @media (--tablet-less){
        width: 45%;
    }
	
    // wrap
    &s{
        display: flex;
        flex-wrap: wrap;
        
        @media (--tablet-more)
        {
            margin-left: -2.8rem;
        }
        @media (--tablet-only)
        {
            justify-content: center;
        }
        @media (--tablet-less)
        {
            justify-content: space-between;
        }
    }
	// elements
	&__{
		&preview{
            display: block;
            
            position: relative;
            
            @media (--tablet-more) {
                min-width: 140px;
            }
        }
        &image{
            display: block;
            width: 100%;
            height: auto;
        }
        &duration{
            position: absolute * 0 0 *;
            
            padding: .05rem .2rem;
            
            font-size: .7rem;
            
            background: color(black a(.5));
            color: white;
        }
        &preview + &title{
            margin: .5rem 0 0;
        }
        &title{
            display: block;
            max-height: 3em;
            
            font-size: .8rem;
            font-weight: 700;
            line-height: 1.5em;
            
            color: $color__primary;
            
            overflow: hidden;
            
            @media (--tablet-less){
                max-height: 6em;
            }
        }
        &views{
            margin-top: .25rem;
            
            font-size: .7rem;
            
            color: gray;
            
            @media (--tablet-less){
                display: none;
            }
        }
	}
}