<div class="video-cell">
    <a class="video-cell__preview" href="#">
        <img class="video-cell__image" src=":120x90" alt="">
        <div class="video-cell__duration">1: 32</div>
    </a>
    <a class="video-cell__title" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, harum natus ratione cupiditate dolorum eligendi consequuntur, voluptates ipsa laboriosam soluta eius voluptas ullam expedita nulla sequi unde optio, repudiandae nesciunt.</a>
    <div class="video-cell__views">Просмотров: 300</div>
</div>