<div class="stars">
    <div class="stars__star _fill"></div>
    <div class="stars__star _fill"></div>
    <div class="stars__star _fill"></div>
    <div class="stars__star"></div>
    <div class="stars__star"></div>
</div>