.stars{
	
    font-size: 1.5rem;
    line-height: 1;
    
    color: $color__secondary;
    
    display: flex;
    align-items: center;
    
	// elements
	&__{
		&star{
            &:after{
                content: '☆';
            }
            &._fill{
                &:after{
                    content: '★';
                }
            }
        }
	}
}