<div class="comment" repeat="2">
    <img src=":90x90" alt="" class="comment__preview">
    <div class="comment__info">
        <header class="comment__header">
            <div class="comment__title">Lorem ipsum dolor sit amet.</div>
            <time class="comment__time">16.05.2016 23:59:00</time>
        </header>
        <div class="comment__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quaerat cum laudantium, ipsum maiores ab? Quos architecto beatae nesciunt blanditiis assumenda eum, in magnam quaerat, fuga ut nihil non aut.</div>
    </div>
</div>