.comment{
	
	display: flex;
	
	margin: 1rem 0;
	
	// wrap
	&s{
		margin: 1rem 0;
	}
	// elements
	&__{
		&preview{
			margin: 0 1rem 0 0;
			
			@media (--tablet-less)
			{
				max-size: 50px;
			}
		}
		&info{
			flex: 1;
		}
		&header{
			
			margin: 0 0 .5em;
		}
		&title,
		&time{
			display: inline;
			vertical-align: middle;
		}
		&title{
			margin: 0 .5rem 0 0;
			
			font-size: 110%;
			font-weight: 700;
		}
		&time{
			
			font-size: 70%;
			
			color: color(black l(+30%));
		}
		&content{
			margin: .5em 0 0;
		}
	}
}