.g-section{
    
	// elements
	&__{
		&content{
            max-width: $content;
            width: 100%;
            padding: 0 1rem;
            margin: 0 auto;
        }
        &title,
        &subtitle{
            margin: 0 0 1em;
            
            font-weight: 700;
        }
        &subtitle{
            font-size: 1rem;
        }
        &title{
            font-size: 1.5rem;
        }
	}
}