.footer{
    
    display: flex;
    
    padding: 1rem;
	
	// elements
    a{
        text-decoration: none;
        color: inherit;
    }
	&__{
        &age{
            display: flex;
            justify-content: center;
            align-items: center;
            
            size: 60px;
            margin: 0 1rem 0 0;
            border: .5rem solid $color__red;
            
            background: white;
            border-radius: 50%;
            
            font-weight: 700;
            
            color: black;
            
            &:after{
                content: '18+';
            }
        }
        &info{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
	}
}