<footer class="footer">
    <div class="footer__age"></div>
    <div class="footer__info">
        <p>
            <strong><a href="http://slither-ru.io">Slither-ru.io</a></strong> - лучший сайт про змейку!
        </p>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
</footer>