.g-page{
    
    min-height: 100%;
    
    background: black;
    color: white;
    
	&__{
		&content{
            display: flex;
            flex-direction: column;
            
            max-width: $content;
            width: 100%;
            min-height: 100vh;
            margin: 0 auto;
            
            box-shadow: 0 0 20px -2px white;
        }
    }
}