<div class="aside">
    <div class="aside__title">Главное меню</div>
    <div class="aside__section">
        <a href="#" class="aside__link">Видео</a>
        <a href="#" class="aside__link">Топ видео</a>
        <a href="#" class="aside__link">ЧИТЫ</a>
    </div>
    <div class="aside__title">ЧТО ЕЩЕ?</div>
    <div class="aside__section">
        <a href="#" class="aside__link">Трюки</a>
        <a href="#" class="aside__link">Тактики</a>
        Служба поддержки: <a href="mailto:info@slither-io-igra.ru">info@slither-io-igra.ru</a>
    </div>
</div>