.aside{
	
	font-size: .75rem;
	
	// elements
	a{
		color: inherit;
	}
	&__{
		&title{
			padding: .5rem;
			
			background: $color__secondary;
			
			font-size: 1.25rem;
			
			&:not(:first-child){
				margin-top: 1.5rem;
			}
		}
		&section{
			padding: 1rem .5rem;
			
			background: color(black l(+10%));
		}
		&link{
			display: block;
			padding: 0 .5rem;
			margin-bottom: .5rem;
		}
	}
}