.header{
    
    padding: .25rem 1rem;
    
    box-shadow: 1px 1px 3px color(black a(.3));
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @media (--tablet-less) {
        flex-wrap: wrap;
        justify-content: space-around;
        
        padding: 1rem;
    }
    
	// elements
	&__{
        &logo{
            @media (--tablet-more) {
                max-width: 60%;
            }
            @media (--tablet-less) {
                flex: 1 0 100%;
                max-width: 100%;
            }
            
            &-image{
                width: 100%;
                height: auto;
            }
        }
        &link{
            font-size: 1.3rem;
            
            color: inherit;
            
            @media (--tablet-less) {
                font-weight: 700;
            }
            
            &:hover{
                text-decoration: underline;
            }
        }
	}
}