<header class="header">
    <a href="#" class="header__logo">
        <img class="header__logo-image" src="img/logo.png" alt="">
    </a>
    <a href="#" class="header__link">Видео</a>
    <a href="#" class="header__link">Читы</a>
    <a href="#" class="header__link">Играть</a>
</header>