.game{
	
	width: 100%;
	margin: 0 0 2rem;
	
	// elements
	&__{
		&frame{
			width: 100%;
			height: 50vh;
			min-height: 500px;
		}
		&frame{
			display: block;
			border: 0;
			
			@media (--desktop-less) {
				display: none
			}
		}
		&note{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			
			padding: 1rem;
			
			text-align: center;
			
			background: color(lightgreen a(.5));
			
			@media (--desktop-more) {
				display: none
			}
			
			&-{
				&title{
					text-transform: uppercase;
				}
			}
		}
		&footer{
			display: flex;
			align-items: center;
			justify-content: space-between;
			
			margin: 1rem 0 0;
		}
		&fullscreen{
			padding: .5rem;
			
			background: $color__gray_light;
			
			cursor: pointer;
		}
	}
}