<div class="game">
    <iframe src="https://slither.io" class="game__frame" id="frame"></iframe>
    <div class="game__note">
        <div class="game__note-title">Игра доступна только для ПК</div>
        <p>Зайдите на наш сайт с компьютера и здесь появится окно и игрой</p>
    </div>
    <div class="game__footer">
        <div class="game__share">
            <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir" data-counter=""></div>
        </div>
        <div class="game__fullscreen" onclick="document.querySelector('.game__frame').requestFullScreen()">На весь экран</div>
    </div>
</div>