<div class="video">
    <div class="video__frame">
        <iframe src="https://www.youtube.com/embed/B7wSVWXlzho"></iframe>
    </div>
    <div class="video__footer">
        <div class="video__info">
            <span class="video__stars">
                <import src="stars"></import>
            </span>
            <span>
                Оценок: <strong>33</strong> | Просмотров: <strong>616</strong>
            </span>
        </div>
        <div class="video__share">
            <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,lj"></div>
        </div>
    </div>
    <div class="video__text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit error voluptates aspernatur asperiores nostrum repellendus debitis non nemo ipsum velit magni tempore, dolorem repellat nihil reiciendis hic eaque aliquid dolores!</p>
        <p>
            <a href="javascript:void(0);" class="video__more" onclick="document.querySelector('.video__text-hidden').classList.add('_show');this.remove();">Показать полностью</a>
        </p>
        <div class="video__text-hidden">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum et dolore quis eaque reiciendis totam, culpa nihil, ad autem eveniet consequatur impedit laborum deleniti neque eum possimus aliquid velit aspernatur?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum et dolore quis eaque reiciendis totam, culpa nihil, ad autem eveniet consequatur impedit laborum deleniti neque eum possimus aliquid velit aspernatur?</p>
        </div>
    </div>
</div>