.video{
	
	// elements
	&__{
		&frame{
            padding-bottom: calc(9/16*100%);
            
            position: relative;
            
            iframe{
                position: absolute 0;
                width: 100%;
                height: 100%;
            }
        }
        &footer{
            padding: .5rem 0;
            border-bottom: 1px solid $color__gray;
            
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            @media (--tablet-less) {
                flex-direction: column;
            }
        }
        &stars{
           margin: 0 1rem 0 0; 
        }
        &info{
            font-size: .75rem;
            white-space: nowrap;
            
            color: color($color__gray l(-25%));
            
            display: flex;
            align-items: center;
            
            @media (--tablet-less) {
                flex-direction: column;
            }
        }
        &share{
            @media (--tablet-less) {
                margin-top: .5rem;
            }
        }
        &text{
            padding: 1rem 0 0;
            
            &-hidden:not(._show){
                display: none;
            }
        }
	}
}