@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:--heading{
    margin: 0;
}
h1{
    font-size: 1.5rem;
    color: $color__primary;
}
h2{
    font-size: 1rem;
}
p{
    margin: 1rem 0;
    font-size: .75rem;
    
    &:not(:first-of-type){
        margin-top: .5em;
    }
}
strong, b{
    font-weight: 700;
}