<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>Slither.io видео</title>
	<link rel="stylesheet" href="styles.css">
    
	<link rel="shortcut icon" href="favicon.ico">
    <import src="modules/g-errors/g-errors_head.htm"></import>
	
	<script src="async.bundle.js" async></script>
    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" defer></script>
    <script src="//yastatic.net/share2/share.js" defer></script>
</head>