<div class="pagination">
    <div class="pagination__back-forward">
        <span class="pagination__back pagination__link _disable">Предыдущая</span>
        <a href="#" class="pagination__forward pagination__link">Следующая</a>
    </div>
    <div class="pagination__numbs">
        <span class="pagination__link _active">1</span>
        <a href="#" class="pagination__link">2</a>
        <a href="#" class="pagination__link">3</a>
        <a href="#" class="pagination__link">4</a>
        <a href="#" class="pagination__link">5</a>
        <a href="#" class="pagination__link">6</a>
        <a href="#" class="pagination__link">Последняя »</a>
    </div>
</div>