.pagination{
    
    padding: 1rem 0;
    margin: 1rem 0;
    
    font-weight: 700;
    
    box-shadow: inset 0 1px $color__gray;
    color: $color__primary;
    
    display: flex;
    flex-direction: column;
    align-items: center;
	
	// elements
    a{
        color: inherit;
    }
	&__{
        &numbs{
            margin: 1rem 0 0;
        }
        &link{
            padding: 0 .5rem;
            
            &._disable,
            &._active{
                color: black;
            }
        }
	}
}