<div class="main">
    <aside class="main__aside">
        <import src="aside"></import>
        <div class="main__ad"></div>
    </aside>
    <div class="main__content">
        <import src="video"></import>
        <div class="comments">
            VK Comments
        </div>
        <div class="video-cells">
            <import src="video-cell" repeat="8"></import>
        </div>
        <import src="comments"></import>
    </main>
</div>