.main{
    position: relative;
    flex: 1;
    
    margin: 1rem 0;
    
    display: flex;
    
    @media (--tablet-less) {
        flex-direction: column;
    }
    
	// elements
	&__{
        &content{
            padding: 1rem;
            
            background: white;
            color: black;
            
            @media (--tablet-more) {
                flex: 1 0 0%;
            }
        }
        &aside{
            display: flex;
            flex-direction: column;
            
            @media (--tablet-more) {
                width: 200px;
            }
            @media (--tablet-less) {
                order: 2;
                width: 100%;
                margin: 1rem 0 0;
            }
        }
        &ad{
            flex: 1;
            background: yellow;
        }
	}
}