<div class="main">
    <aside class="main__aside">
        <import src="aside"></import>
        <div class="main__ad"></div>
    </aside>
    <div class="main__content">
        <h1>Slither.io - змейка, играть в слизерио</h1>
        <p>Игра Slither.io стремительно набирает популярность, причина проста - она веселая и увлекательная.</p>
        <import src="game"></import>
        <h2>Lorem ipsum dolor sit.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea inventore, reprehenderit saepe nobis quibusdam, odit nostrum, eius dolor repudiandae quae culpa totam iusto, magni voluptates debitis quia rem corrupti! Maxime.</p>
        <div class="video-cells">
            <import src="video-cell" repeat="10"></import>
        </div>
        <import src="pagination"></import>
    </main>
</div>